swagger: "2.0"
info:
  description: "External Open API"
  version: "v2"
  title: "SMN"
schemes:
- "https"
consumes:
- "application/json;charset=UTF-8"
produces:
- "application/json;charset=UTF-8"
host: "smn.cn-north-7.myhuaweicloud.com"
basePath: "/"
tags:
- name: "Topics"
  description: ""
- name: "Subscriptions"
  description: ""
- name: "Templates"
  description: ""
- name: "Message Publishing"
  description: ""
- name: "Tags"
  description: ""
- name: "Applications"
  description: ""
- name: "Application Endpoints"
  description: ""
- name: "Sending an Application Message"
  description: ""
- name: "Version Querying"
  description: ""
- name: "Cloud Logs"
  description: ""
- name: "Message Filter Policies of Subscribers"
- name: "Notification Policies"
paths:
  /:
    get:
      tags:
      - "Version Querying"
      operationId: "ListVersions"
      summary: "Querying All SMN API Versions"
      description: "This API is used to list all SMN API versions."
      deprecated: false
      x-name: "Querying all SMN API versions"
      x-request-examples-description-1: ""
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/"
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListVersionsResponseBody"
          examples:
            application/json:
              versions:
                id: "v2"
                links:
                - href: "https://127.0.0.1/v2"
                  rel: "self"
                min_version: ""
                status: "CURRENT"
                updated: "2018-09-19T00:00:00Z"
                version: ""
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2:
    get:
      tags:
      - "Version Querying"
      operationId: "ListVersion"
      summary: "Querying the SMN API v2 Version"
      description: "This API is used to query the version of SMN API v2."
      deprecated: false
      x-name: "Querying the SMN API v2 version"
      x-request-examples-description-1: ""
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2"
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListV2VersionResponseBody"
          examples:
            application/json:
              version:
                id: "v2"
                links:
                - href: "https://127.0.0.1/v2"
                  rel: "self"
                min_version: ""
                status: "CURRENT"
                updated: "2018-09-19T00:00:00Z"
                version: ""
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics:
    get:
      tags:
      - "Topics"
      operationId: "ListTopics"
      summary: "Querying Topics"
      description: >-
        This API is used to query topics by page. The topics are sorted by creation time in descending order. You can specify offset and limit. If no topic has been created, an empty list is returned.
      deprecated: false
      x-name: "Querying topics"
      x-request-examples-description-1: "Querying topics"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics?offset=0&limit=100
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "offset"
        in: "query"
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        type: "integer"
        required: false
        default: 0
      - name: "limit"
        in: "query"
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        type: "integer"
        required: false
        default: 100
      - name: "enterprise_project_id"
        in: "query"
        description: "Specifies the enterprise project ID."
        type: "string"
        required: false
      - name: "name"
        in: "query"
        description: "Specifies the name of the topic to be searched for, which must be fully matched."
        type: "string"
        required: false
      - name: "fuzzy_name"
        in: "query"
        description: "Specifies the name of the topic to be searched. Fuzzy matching is used."
        type: "string"
        required: false
        pattern: "^[-_a-zA-Z0-9]{0,255}$"
        allowEmptyValue: true
      - name: "topic_id"
        in: "query"
        description: "Specifies the topic ID for exact search."
        type: "string"
        required: false
      - $ref: "#/parameters/X-Auth-Token"
      - name: "fuzzy_display_name"
        in: "query"
        required: false
        description: "Specifies the display name of the topic to be searched. Fuzzy matching is used. The display name cannot exceed 192 bytes."
        type: "string"
        allowEmptyValue: true
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListTopicsResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              topic_count: 1
              topics:
              - topic_urn: >-
                  urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_topic_v2
                display_name: "testtest"
                name: "test_topic_v1"
                push_policy: 0
                enterprise_project_id: "0"
                topic_id: "84698185946d44d08431aa441d8e2cf2"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    post:
      tags:
      - "Topics"
      operationId: "CreateTopic"
      summary: "Creating a Topic"
      description: |-
        This API is used to create a topic. Each user can create up to 3,000 topics. In high-concurrent scenarios, a user may create a few topics more than 3,000.
        The API is idempotent. It returns a successful result after creating a topic. If a topic of the same name already exists, the status code is 200. Otherwise, the status code is 201.
      deprecated: false
      x-name: "Creating a topic"
      x-request-examples-description-1: "Creating a topic with the name of **test_topic_v2** and display name of **testtest**"
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics"
      x-request-examples-1:
        name: "test_topic_v2"
        display_name: "testtest"
      x-request-examples-text-1: |-
        {
          "name": "test_topic_v2",
          "display_name": "testtest"
        }
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "CreateTopicRequestBody"
        description: "This is a auto create Body Object"
        required: true
        schema:
          $ref: "#/definitions/CreateTopicRequestBody"
      responses:
        "201":
          description: "OK"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              topic_urn: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
          schema:
            $ref: "#/definitions/CreateTopicResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}:
    get:
      tags:
      - "Topics"
      operationId: "ListTopicDetails"
      summary: "Querying Details About a Topic"
      description: "This API is used to query details about a topic."
      deprecated: false
      x-name: "Querying details about a topic"
      x-request-examples-description-1: "Querying details about a topic"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2
      x-request-examples-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              update_time: "2016-08-01T02:16:38Z"
              push_policy: 0
              create_time: "2016-08-01T02:16:38Z"
              name: "test_create_topic_v2"
              topic_urn: >-
                urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2
              display_name: "test create topic v2"
              request_id: "6837531fd3f54550927b930180a706bf"
              enterprise_project_id: "0"
              topic_id: "84698185946d44d08431aa441d8e2cf2"
          schema:
            $ref: "#/definitions/ListTopicDetailsResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    put:
      tags:
      - "Topics"
      operationId: "UpdateTopic"
      summary: "Updating a Topic"
      description: "This API is used to update the topic display name."
      deprecated: false
      x-name: "Updating a topic"
      x-request-examples-description-1: "Modifying the display name of the topic named **test_topic_v2** to **testtest222**"
      x-request-examples-url-1: >-
        PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      x-request-examples-1:
        display_name: "testtest222"
      x-request-examples-text-1: |-
        {
          "display_name": "testtest222"
        }
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "UpdateTopicRequestBody"
        description: "This is a auto create Body Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateTopicRequestBody"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
          schema:
            $ref: "#/definitions/UpdateTopicResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    delete:
      tags:
      - "Topics"
      operationId: "DeleteTopic"
      summary: "Deleting a Topic"
      description: "This API is used to delete a topic."
      deprecated: false
      x-name: "Deleting a topic"
      x-request-examples-description-1: "Deleting a topic"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
          schema:
            $ref: "#/definitions/DeleteTopicResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/attributes:
    get:
      tags:
      - "Topics"
      operationId: "ListTopicAttributes"
      summary: "Querying a Topic Policy"
      description: "This API is used to query a topic policy."
      deprecated: false
      x-name: "Querying a topic policy"
      x-request-examples-description-1: "Querying a topic policy"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2/attributes?name=access_policy
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - name: "name"
        in: "query"
        description: >-
          Specifies the topic policy name.Only specified policy names are supported. For details, see [Topic Attribute List](smn_api_a1000.xml).
        required: false
        type: "string"
        x-example: "access_policy"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6837531fd3f54550927b930180a706bf"
              attributes:
                access_policy: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\",\"Statement\":[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\",\"Principal\":[{\"CSP\":[\"urn:csp:iam::93dc1b4697ac493d9b7d089569f86b32:root\"]}],\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"},{\"Sid\":\"__org_path_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"},{\"Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"}]}"
          schema:
            $ref: "#/definitions/ListTopicAttributesResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    delete:
      tags:
      - "Topics"
      operationId: "DeleteTopicAttributes"
      summary: "Deleting All Topic Policies"
      description: "This API is used to delete all topic policies."
      deprecated: false
      x-name: "Deleting all topic policies"
      x-request-examples-description-1: "Deleting all topic policies"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6837531fd3f54550927b930180a706bf"
          schema:
            $ref: "#/definitions/DeleteTopicAttributesResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/attributes/{name}:
    put:
      tags:
      - "Topics"
      operationId: "UpdateTopicAttribute"
      summary: "Updating a Topic Policy"
      description: "This API is used to update a topic policy."
      deprecated: false
      x-name: "Updating a topic policy"
      x-request-examples-description-1: "Updating a topic policy"
      x-request-examples-url-1: >-
        PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/access_policy
      x-request-examples-1:
        value: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\",\"Statement\":[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"CSP\":[\"urn:csp:iam::{domainID}:root\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__org_path_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"}]}"
      x-request-examples-text-1:
        value: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\",\"Statement\":[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"CSP\":[\"urn:csp:iam::{domainID}:root\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__org_path_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"{topic_urn}\"}]}"
      x-request-examples-description-2: "Updating a topic policy"
      x-request-examples-url-2: >-
        PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/introduction
      x-request-examples-2:
        value: ""
      x-request-examples-text-2:
        value: ""
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - name: "name"
        in: "path"
        description: >-
          Specifies the topic policy name.Only specified policy names are supported. For details, see [Topic Attribute List](smn_api_a1000.xml).
        required: true
        type: "string"
        x-example: "access_policy"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "UpdateTopicAttributeRequestBody"
        description: "This is a auto create Body Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateTopicAttributeRequestBody"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6837531fd3f54550927b930180a706bf"
          schema:
            $ref: "#/definitions/UpdateTopicAttributeResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    delete:
      tags:
      - "Topics"
      operationId: "DeleteTopicAttributeByName"
      summary: "Deleting a Specified Topic Policy"
      description: "This API is used to delete a specified topic policy."
      deprecated: false
      x-name: "Deleting a specified topic policy"
      x-request-examples-description-1: "Deleting a specified topic policy"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/access_policy
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - name: "name"
        in: "path"
        description: >-
          Specifies the topic policy name.Only specified policy names are supported. For details, see [Topic Attribute List](smn_api_a1000.xml).
        required: true
        type: "string"
        x-example: "introduction"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "6837531fd3f54550927b930180a706bf"
          schema:
            $ref: "#/definitions/DeleteTopicAttributeByNameResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/subscriptions:
    get:
      tags:
      - "Subscriptions"
      operationId: "ListSubscriptions"
      summary: "Querying Subscriptions"
      description: "This API is used to query the list of all subscriptions by page. The list is sorted by subscription adding time in ascending order. You can specify offset and limit. If no subscription has been added to the topic, an empty list is returned."
      deprecated: false
      x-name: "Querying subscriptions"
      x-request-examples-description-1: "Querying subscriptions"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/subscriptions?offset=0&limit=2
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "offset"
        in: "query"
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        type: "integer"
        required: false
        default: 0
      - name: "limit"
        in: "query"
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        type: "integer"
        required: false
        default: 100
      - name: "protocol"
        in: "query"
        description: "Specifies the protocol name. The enumerated values are http, https, sms, email, functionstage."
        type: "string"
        required: false
      - name: "status"
        in: "query"
        description: |-
          Specifies the subscription status.
          0: The subscription has not been confirmed.
          1: The subscription has been confirmed.
          2: Confirmation is not required.
          3: The subscription was canceled.
          4: The subscription was deleted.
        type: "integer"
        required: false
      - name: "endpoint"
        in: "query"
        description: "Specifies the subscription endpoint."
        type: "string"
        required: false
      - $ref: "#/parameters/X-Auth-Token"
      - name: "fuzzy_remark"
        in: "query"
        required: false
        description: "Specifies the subscription remark for fuzzy match. The value can contain up to 128 bytes."
        type: "string"
        allowEmptyValue: true
        pattern: "^[^+]$"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListSubscriptionsResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              subscription_count: 2
              subscriptions:
              - topic_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                protocol: "sms"
                subscription_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
                owner: "762bdb3251034f268af0e395c53ea09b"
                endpoint: "xxxxxxxxxxx"
                remark: ""
                status: 0
                filter_polices:
                - name: "alarm"
                  string_equals:
                  - "os"
                  - "process"
                - name: "service"
                  string_equals:
                  - "api"
                  - "db"
              - topic_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                protocol: "email"
                subscription_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:a2d52a9f5c3b47f48c3fafb177a58796
                owner: "762bdb3251034f268af0e395c53ea09b"
                endpoint: "xx@example.com"
                remark: ""
                status: 0
                filter_polices:
                - name: "alarm"
                  string_equals:
                  - "os"
                  - "process"
                - name: "service"
                  string_equals:
                  - "api"
                  - "db"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/subscriptions:
    get:
      tags:
      - "Subscriptions"
      operationId: "ListSubscriptionsByTopic"
      summary: "Querying Subscriptions of a Specified Topic"
      description: >-
        This API is used to query subscriptions to a specified topic by page. The list is sorted by subscription adding time in ascending order. You can specify offset and limit. If no subscription has been added to the topic, an empty list is returned.
      deprecated: false
      x-name: "Querying subscriptions of a specified topic"
      x-request-examples-description-1: "Querying subscriptions of the topic named **test_topic_v2**"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1/subscriptions?offset=0&limit=100
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - name: "offset"
        in: "query"
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        type: "integer"
        required: false
        default: 0
      - name: "limit"
        in: "query"
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        type: "integer"
        required: false
        default: 100
      - $ref: "#/parameters/X-Auth-Token"
      - name: "fuzzy_remark"
        in: "query"
        required: false
        description: "Specifies the subscription remark for fuzzy match. The value can contain up to 128 bytes."
        type: "string"
        pattern: "^[^+]$"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListSubscriptionsResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              subscription_count: 2
              subscriptions:
              - topic_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                protocol: "sms"
                subscription_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
                owner: "762bdb3251034f268af0e395c53ea09b"
                endpoint: "xxxxxxxxxxx"
                remark: ""
                status: 0
                filter_polices:
                - name: "alarm"
                  string_equals:
                  - "os"
                  - "process"
                - name: "service"
                  string_equals:
                  - "api"
                  - "db"
              - topic_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                protocol: "email"
                subscription_urn: >-
                  urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:a2d52a9f5c3b47f48c3fafb177a58796
                owner: "762bdb3251034f268af0e395c53ea09b"
                endpoint: "xx@example.com"
                remark: ""
                status: 0
                filter_polices:
                - name: "alarm"
                  string_equals:
                  - "os"
                  - "process"
                - name: "service"
                  string_equals:
                  - "api"
                  - "db"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    post:
      tags:
      - "Subscriptions"
      operationId: "AddSubscription"
      summary: "Adding a Subscription"
      description: >-
        This API is used to add a subscription to a specified topic. If the status of the subscription is unconfirmed, a confirmation message is sent to the subscriber. After confirming the subscription, the subscriber can receive notification messages published to the topic. By default, 10,000 subscriptions can be added to a topic. However, in rare high-concurrency scenarios, extra subscriptions may be added successfully. The API is idempotent. If the added subscription already exists, a successful result and status code 200 are returned. Otherwise, the status code is 201.
      deprecated: false
      x-name: "Adding a Subscription"
      x-request-examples-description-1: "Adding a subscription to the topic named **test_topic_v1**"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1/subscriptions
      x-request-examples-1:
        protocol: "email"
        endpoint: "xxx@example.com"
        remark: "O&M"
      x-request-examples-text-1:
        protocol: "email"
        endpoint: "xxx@example.com"
        remark: "O&M"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "AddSubscriptionRequestBody"
        schema:
          $ref: "#/definitions/AddSubscriptionRequestBody"
      responses:
        "201":
          description: "OK"
          schema:
            $ref: "#/definitions/AddSubscriptionResponseBody"
          examples:
            application/json:
            - request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              subscription_urn: >-
                urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/OpenAPIFailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/subscriptions/{subscription_urn}:
    delete:
      tags:
      - "Subscriptions"
      operationId: "CancelSubscription"
      summary: "Deleting a Subscription"
      description: "This API is used to delete a specified subscription."
      deprecated: false
      x-name: "Deleting a subscription"
      x-request-examples-description-1: "Deleting a subscription with the URN **urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837**"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/subscriptions/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "subscription_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the subscriber, which is unique. To obtain the resource identifier, see [Query Subscriptions](ListSubscriptions.xml).
        required: true
        type: "string"
        x-example: >-
          urn:smn:br-iaas-odin1:0605767e0a00d5762fe7c00d0e33345c:chen_test:09be84d54d9f4ee3a0ef7d7562f1db2d
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CancelSubscriptionResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/subscriptions/{subscription_urn}:
    put:
      tags:
      - "Subscriptions"
      operationId: "UpdateSubscription"
      summary: "Updating a Subscriber"
      description: "This API is used to update the subscriber remarks."
      deprecated: false
      x-name: "Updating a subscriber"
      x-request-examples-description-1: "Updating a subscriber"
      x-request-examples-url-1: >-
        PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1/subscriptions/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
      x-request-examples-1:
        remark: "test remark"
      x-request-examples-text-1:
        remark: "test remark"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml).
        required: true
        type: "string"
        x-example: "urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1"
      - name: "subscription_urn"
        in: "path"
        description: >-
          Specifies the resource identifier of the subscriber, which is unique. To obtain the resource identifier, see [Query Subscriptions](ListSubscriptions.xml).
        required: true
        type: "string"
        x-example: >-
          urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "UpdateSubscriptionRequestBody"
        description: "This is a auto create Body Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateSubscriptionRequestBody"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "fdbabe38ead6482b8574f82a3d1168e9"
              subscription_urn: >-
                urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
          schema:
            $ref: "#/definitions/UpdateSubscriptionResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/message_template:
    get:
      tags:
      - "Templates"
      operationId: "ListMessageTemplates"
      summary: "Querying Message Templates"
      description: >-
        This API is used to query the template list by page. The list is sorted by template creation time in ascending order. You can specify offset and limit. If no template has been created, an empty list is returned. The parameters message_template_name and protocol are added.
      deprecated: false
      x-name: "Querying message templates"
      x-request-examples-description-1: "Querying message templates"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template?offset=0&limit=2&message_template_name=test1&protocol=email
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "offset"
        in: "query"
        description: "Specifies the offset. If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0."
        type: "integer"
        required: false
        default: 0
      - name: "limit"
        in: "query"
        description: "The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100."
        type: "integer"
        required: false
        default: 100
      - name: "message_template_name"
        in: "query"
        description: |-
          Specifies the template name.

          Enter 1 to 64 characters, and start with a letter or digit. Only letters, digits, hyphens (-), and underscores (_) are allowed.
        type: "string"
        required: false
        x-example: "test1"
      - name: "protocol"
        in: "query"
        description: |-
          Specifies the protocol supported by the template.

          The following protocols are supported:

          default

          email

          sms

          functionstage

          http and https
        type: "string"
        required: false
        x-example: "email"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListMessageTemplatesResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              message_template_count: 3
              message_templates:
              - message_template_name: "confirm_message"
                protocol: "sms"
                update_time: "2016-08-02T08:22:18Z"
                create_time: "2016-08-02T08:22:18Z"
                tag_names:
                - "topic_urn"
                message_template_id: "79227dfdf88d4e52a1820ca1eb411635"
              - message_template_name: "confirm_message"
                protocol: "email"
                update_time: "2016-08-02T08:22:19Z"
                create_time: "2016-08-02T08:22:19Z"
                tag_names:
                - "topic_id"
                message_template_id: "ecf63465804a4b10a0573980be78ffba"
              - message_template_name: "confirm_message"
                protocol: "https"
                update_time: "2016-08-02T08:22:20Z"
                create_time: "2016-08-02T08:22:20Z"
                tag_names:
                - "topic_id"
                message_template_id: "57ba8dcecda844878c5dd5815b65d10f"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    post:
      tags:
      - "Templates"
      operationId: "CreateMessageTemplate"
      summary: "Creating a Message Template"
      description: |-
        This API is used to create a message template for quick message sending and reduced request data volume.
        By default, a user can create a maximum of 100 message templates. However, in rare high-concurrency scenarios, extra templates may be successfully created.
      deprecated: false
      x-name: "Creating a message template"
      x-request-examples-description-1: |-
        Creating an HTTPS message template with the name of **confirm_message**
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template
      x-request-examples-1:
        message_template_name: "confirm_message"
        protocol: "https"
        content: >-
          (1/2)You are invited to subscribe to topic({topic_id}). Click the following URL to confirm subscription:(If you do not want to subscribe to this topic, ignore this message.)
      x-request-examples-text-1:
        message_template_name: "confirm_message"
        protocol: "https"
        content: >-
          (1/2)You are invited to subscribe to topic({topic_id}). Click the following URL to confirm subscription:(If you do not want to subscribe to this topic, ignore this message.)
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "CreateMessageTemplateRequestBody"
        schema:
          $ref: "#/definitions/CreateMessageTemplateRequestBody"
      responses:
        "201":
          description: "OK"
          schema:
            $ref: "#/definitions/CreateMessageTemplateResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              message_template_id: "57ba8dcecda844878c5dd5815b65d10f"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/message_template/{message_template_id}:
    get:
      tags:
      - "Templates"
      operationId: "ListMessageTemplateDetails"
      summary: "Querying Details About a Message Template"
      description: "This API is used to query template details, including the template content."
      deprecated: false
      x-name: "Querying details about a message template"
      x-request-examples-description-1: "Querying details about a message template"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/57ba8dcecda844878c5dd5815b65d10f
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "message_template_id"
        in: "path"
        description: >-
          Specifies the unique resource ID of a template. To obtain the ID, see [Querying Message Templates](ListMessageTemplates.xml).
        type: "string"
        required: true
        x-example: "79227dfdf88d4e52a1820ca1eb411635"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListMessageTemplateDetailsResponseBody"
          examples:
            application/json:
              message_template_id: "57ba8dcecda844878c5dd5815b65d10f"
              message_template_name: "confirm_message"
              protocol: "https"
              tag_names:
              - "topic_id_id4"
              create_time: "2016-08-02T08:22:20Z"
              update_time: "2016-08-02T08:22:25Z"
              content: >-
                (1/24)You are invited to subscribe to topic({topic_id_id4}). Click the following URL to confirm subscription:(If you do not want to subscribe to this topic, ignore this message.)
              request_id: "ba79ca8f794f4f50985ce7b98a401b47"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    put:
      tags:
      - "Templates"
      operationId: "UpdateMessageTemplate"
      summary: "Modifying a Message Template"
      description: "This API is used to modify the message template content."
      deprecated: false
      x-name: "Modifying a message template"
      x-request-examples-description-1: "Modifying the content of a message template"
      x-request-examples-url-1: >-
        PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/b3ffa2cdda574168826316f0628f774f
      x-request-examples-1:
        content: >-
          (1/22)You are invited to subscribe to topic({topic_id_id1}). Click the following URL to confirm subscription:(If you do not want to subscribe to this topic, ignore this message.)
      x-request-examples-text-1:
        content: >-
          (1/22)You are invited to subscribe to topic({topic_id_id1}). Click the following URL to confirm subscription:(If you do not want to subscribe to this topic, ignore this message.)
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "message_template_id"
        in: "path"
        description: >-
          Specifies the unique resource ID of a template. To obtain the ID, see [Querying Message Templates](ListMessageTemplates.xml).
        required: true
        type: "string"
        x-example: "57ba8dcecda844878c5dd5815b65d10f"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "UpdateMessageTemplateRequestBody"
        schema:
          $ref: "#/definitions/UpdateMessageTemplateRequestBody"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/UpdateMessageTemplateResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    delete:
      tags:
      - "Templates"
      operationId: "DeleteMessageTemplate"
      summary: "Deleting a Message Template"
      description: "This API is used to delete a message template. After you delete the template, you can no longer use it to publish messages."
      deprecated: false
      x-name: "Deleting a message template"
      x-request-examples-description-1: "Deleting a message template"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/b3ffa2cdda574168826316f0628f774e
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "message_template_id"
        in: "path"
        description: >-
          Specifies the unique resource ID of a template. To obtain the ID, see [Querying Message Templates](ListMessageTemplates.xml).
        required: true
        type: "string"
        x-example: "57ba8dcecda844878c5dd5815b65d10f"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteMessageTemplateResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/publish:
    post:
      tags:
      - "Message Publishing"
      operationId: "PublishMessage"
      summary: "Publishing a Message"
      description: |-
        This API is used to publish messages to a topic. After a message ID is returned, the message has been saved and is to be pushed to the subscribers of the topic. To send messagesto subscribers successfully, ensure that your message content complies with local laws and regulations.
        The following three message formats are supported:

        **message**

        **message_structure**

        **message_template_name**

        If the three formats are specified at the same time, they take effect in the following sequence:
        **message_structure** > **message_template_name** > **message**
      x-name: "Publishing a Message"
      x-request-examples-description-1: "Publishing a message"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish
      x-request-examples-1:
        subject: "test message v2"
        message: "Message test message v2"
        time_to_live: "3600"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-request-examples-text-1:
        subject: "test message v2"
        message: "Message test message v2"
        time_to_live: "3600"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-request-examples-description-2: "Publishing messages using a message structure"
      x-request-examples-url-2: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish
      x-request-examples-2:
        subject: "test message v2"
        message_structure: >-
          {   "default": "Message structure test message v2",   "sms": "Message structure test message v2",   "email": "Message structure test message v2",   "wechat": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "dingding": "{\"msgtype\":\"markdown\",\"at\":{\"atMobiles\": [\"15XXXXXX\"],\"atUserIds\": [\"1234567XXX\"],\"isAtAll\": true},\"markdown\":{\"content\":\"Message structure test message v2 @15XXXXXX @1234567XXX\",\"title\":\"Message structure title\"}}",   "feishu": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "welinkRed": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "http": "Message structure test message v2",   "https": "Message structure test message v2",   "dingTalkBot": "{\"msgtype\":\"markdown\",\"markdown\":{\"content\":\"Message structure test message v2 dingTalkBot markdown\",\"title\":\"Message structure title\"}}",   "functionstage": "Message structure test message v2" }
        time_to_live: "3600"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-request-examples-text-2:
        subject: "test message v2"
        message_structure: >-
          {   "default": "Message structure test message v2",   "sms": "Message structure test message v2",   "email": "Message structure test message v2",   "wechat": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "dingding": "{\"msgtype\":\"markdown\",\"at\":{\"atMobiles\": [\"15XXXXXX\"],\"atUserIds\": [\"1234567XXX\"],\"isAtAll\": true},\"markdown\":{\"content\":\"Message structure test message v2 @15XXXXXX @1234567XXX\",\"title\":\"Message structure title\"}}",   "feishu": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "welinkRed": "{\"msgtype\":\"text\",\"text\":{\"content\":\"Message structure test message v2\"}}",   "http": "Message structure test message v2",   "https": "Message structure test message v2",   "dingTalkBot": "{\"msgtype\":\"markdown\",\"markdown\":{\"content\":\"Message structure test message v2 dingTalkBot markdown\",\"title\":\"Message structure title\"}}",   "functionstage": "Message structure test message v2" }
        time_to_live: "3600"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-request-examples-description-3: "Publishing messages using a template"
      x-request-examples-url-3: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish
      x-request-examples-3:
        subject: "test message template v2"
        message_template_name: "confirm_message"
        time_to_live: "3600"
        tags:
          topic_urn: "topic_urn3331"
          topic_id: "topic_id3332"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-request-examples-text-3:
        subject: "test message template v2"
        message_template_name: "confirm_message"
        time_to_live: "3600"
        tags:
          topic_urn: "topic_urn3331"
          topic_id: "topic_id3332"
        message_attributes:
        - name: "smn_protocol"
          type: "PROTOCOL"
          value:
          - "email"
          - "sms"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: "Specifies the resource identifier of the topic, which is unique. To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "PublishMessageRequestBody"
        schema:
          $ref: "#/definitions/PublishMessageRequestBody"
        required: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PublishMessageResponseBody"
          examples:
            application/json:
              request_id: "6a63a18b8bab40ffb71ebd9cb80d0085"
              message_id: "bf94b63a5dfb475994d3ac34664e24f2"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "429":
          description: "Too Many Requests"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/{resource_type}/resource_instances/action:
    post:
      tags:
      - "Tags"
      operationId: "ListResourceInstances"
      summary: "Querying Resources by Tag"
      description: "This API is used to query resources by tag."
      deprecated: false
      x-name: "Querying resources by tag"
      x-request-examples-description-1: "Using tags to filter resources"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/resource_instances/action
      x-request-examples-1:
        offset: "100"
        limit: "100"
        action: "filter"
        matches:
        - key: "resource_name"
          value: "resource1"
        not_tags:
        - key: "key1"
          values:
          - "*value1"
          - "value2"
        - key: "key2"
          values:
          - "*value21"
          - "value22"
        tags:
        - key: "key1"
          values:
          - "*value1"
          - "value2"
        tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        not_tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
      x-request-examples-text-1:
        offset: "100"
        limit: "100"
        action: "filter"
        matches:
        - key: "resource_name"
          value: "resource1"
        not_tags:
        - key: "key1"
          values:
          - "*value1"
          - "value2"
        - key: "key2"
          values:
          - "*value21"
          - "value22"
        tags:
        - key: "key1"
          values:
          - "*value1"
          - "value2"
        tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        not_tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
      x-request-examples-description-2: "Using tags to query the total number of resources"
      x-request-examples-url-2: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/resource_instances/action
      x-request-examples-2:
        action: "count"
        not_tags:
        - key: "key1"
          values:
          - "value1"
          - "*value2"
        tags:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        not_tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        matches:
        - key: "resource_name"
          value: "resource"
      x-request-examples-text-2:
        action: "count"
        not_tags:
        - key: "key1"
          values:
          - "value1"
          - "*value2"
        tags:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        not_tags_any:
        - key: "key1"
          values:
          - "value1"
          - "value2"
        matches:
        - key: "resource_name"
          value: "resouurce"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "ListInstancesRequestBody"
        schema:
          $ref: "#/definitions/ListInstanceRequestBody"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListInstancesResponseBody"
          examples:
            application/json:
              resources:
                resource_detail:
                  topic_urn: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:resouece1"
                  display_name: "testtest"
                  enterprise_project_id: "0"
                resource_id: "cffe4fc4c9a54219b60dbaf7b586e132"
                resource_name: "resouece1"
                tags:
                - key: "key1"
                  value: "value1"
              total_count: 1000
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/{resource_type}/{resource_id}/tags/action:
    post:
      tags:
      - "Tags"
      operationId: "BatchCreateOrDeleteResourceTags"
      summary: "Adding or Deleting Resource Tags in Batches"
      description: |-
        This API is used to add or delete tags in batches for a specified resource. You can add a maximum of 10 tags to a resource.
        The API is idempotent. When you are creating tags, if there are duplicate keys in the request body, an error is reported.
        If a to-be-created tag has the same key as an existing tag, the tag will be created and overwrite the existing one.
        During tag deletion, if some tags do not exist, the deletion is considered to be successful by default. The character set of the tags will not be checked.
      deprecated: false
      x-name: "Adding or deleting resource tags in batches"
      x-request-examples-description-1: "Batch adding tags to resources"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags/action
      x-request-examples-1:
        action: "create"
        tags:
        - key: "key1"
          value: "value1"
        - key: "key"
          value: "value3"
      x-request-examples-text-1:
        action: "create"
        tags:
        - key: "key1"
          value: "value1"
        - key: "key"
          value: "value3"
      x-request-examples-description-2: "Batch deleting resource tags"
      x-request-examples-url-2: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags/action
      x-request-examples-2:
        action: "delete"
        tags:
        - key: "key1"
          value: "value1"
        - key: "key"
          value: "value3"
      x-request-examples-text-2:
        action: "delete"
        tags:
        - key: "key1"
        - key: "key2"
          value: "value3"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - name: "resource_id"
        in: "path"
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "BatchCreateOrDeleteResourceTagsRequestBody"
        schema:
          $ref: "#/definitions/BatchCreateOrDeleteResourceTagsRequestBody"
      responses:
        "204":
          description: "OK"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/{resource_type}/{resource_id}/tags:
    get:
      tags:
      - "Tags"
      operationId: "ListResourceTags"
      summary: "Querying Resource Tags"
      description: "This API is used to query tags of a specified resource."
      deprecated: false
      x-name: "Querying resource tags"
      x-request-examples-description-1: "Querying resource tags"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type.
          The type can be the following:
          smn_topic: topic
          smn_sms: SMS
          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - name: "resource_id"
        in: "path"
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListResourceTagsRequestBody"
          examples:
            application/json:
              tags:
              - key: "key1"
                value: "value1"
              - key: "key2"
                value: "value3"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
    post:
      tags:
      - "Tags"
      operationId: "CreateResourceTag"
      summary: "Adding a Resource Tag"
      description: "You can add a maximum of 10 tags to a resource. The API is idempotent. If a to-be-created tag has the same key as an existing tag, the tag will be created and overwrite the existing one."
      deprecated: false
      x-name: "Adding a resource tag"
      x-request-examples-description-1: "Adding a resource tag"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags
      x-request-examples-1:
        tag:
          key: "DEV"
          value: "DEV1"
      x-request-examples-text-1:
        tag:
          key: "DEV"
          value: "DEV1"
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - name: "resource_id"
        in: "path"
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "CreateResourceTagRequestBody"
        schema:
          $ref: "#/definitions/CreateResourceTagRequestBody"
      responses:
        "204":
          description: "OK"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/{resource_type}/tags:
    get:
      tags:
      - "Tags"
      operationId: "ListProjectTags"
      summary: "Querying Project Tags"
      description: "This API is used to query all tags of a resource type in a specified region."
      deprecated: false
      x-name: "Querying project tags"
      x-request-examples-description-1: "Querying project tags"
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/tags"
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type.
          The type can be the following:
          smn_topic: topic
          smn_sms: SMS
          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ListProjectTagsRequestBody"
          examples:
            application/json:
              tags:
              - key: "key1"
                values:
                - "value1"
                - "value2"
              - key: "key2"
                values:
                - "value1"
                - "value2"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/{resource_type}/{resource_id}/tags/{key}:
    delete:
      tags:
      - "Tags"
      operationId: "DeleteResourceTag"
      summary: "Deleting a Resource Tag"
      description: "This API is used to delete resource tags. The API is idempotent. When deleting a tag, the system does not check its character set. The tag key cannot be left blank or be an empty string. If the key of the tag to be deleted does not exist, 404 will be returned."
      deprecated: false
      x-name: "Deleting a resource tag"
      x-request-examples-description-1: "Deleting a resource tag"
      x-request-examples-url-1: >-
        DELETE https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags/{key}
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: >-
          Specifies the project ID.For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml).
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "resource_type"
        in: "path"
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        type: "string"
        x-example: "smn_topic"
      - name: "resource_id"
        in: "path"
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "key"
        in: "path"
        description: "Specifies the key value of the tag to be deleted."
        required: true
        type: "string"
        x-example: "key"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "204":
          description: "OK"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResp"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/FailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResp"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResp"
  /v2/{project_id}/notifications/topics/{topic_urn}/logtanks:
    post:
      tags:
      - "Cloud Logs"
      operationId: "CreateLogtank"
      summary: "Binding a Cloud Log to a Topic"
      description: "This API is used to bind a cloud log to a specified topic to record information such as the message sending status of the topic."
      deprecated: false
      x-name: "Binding a cloud log to a topic"
      x-request-examples-description-1: "Binding a cloud log to a topic"
      x-request-examples-url-1: >-
        POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2/logtanks
      x-request-examples-1:
        log_group_id: "d1b6c352-ee45-4196-9230-c74b7894e356"
        log_stream_id: "114960b4-1c26-48dd-93c2-4caae24aec49"
      x-request-examples-text-1: |-
        {
          "log_group_id": "d1b6c352-ee45-4196-9230-c74b7894e356",
          "log_stream_id": "114960b4-1c26-48dd-93c2-4caae24aec49"
        }
      x-open-region-cloud: "hk,hc,g42,hk_g42,sbc,hk_sbc"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: "Specifies the project ID. For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: "Specifies the resource identifier of the topic, which is unique. To obtain the identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      - in: "body"
        name: "CreateLogTankBody"
        description: "This is an auto create Body Object"
        required: true
        schema:
          $ref: "#/definitions/CreateLogtankRequestBody"
      responses:
        "201":
          description: "OK"
          examples:
            application/json:
              request_id: "42f3b0cd1c894e87aa0275ce33305b21"
              id: "4ea80c8a68b840e19b4efd3a8f0d62ed"
          schema:
            $ref: "#/definitions/CreateLogtankResponseBody"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/FailedResponse"
        "403":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/OpenAPIFailedResp"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/FailedResponse"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/FailedResponse"
    get:
      tags:
      - "Cloud Logs"
      operationId: "ListLogtank"
      summary: "Querying Cloud Logs"
      description: "This API is used to query cloud logs bound to a specified topic."
      deprecated: false
      x-name: "Querying cloud logs"
      x-request-examples-description-1: "Querying cloud logs"
      x-request-examples-url-1: >-
        GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2/logtanks
      x-request-examples-1: null
      x-request-examples-text-1: null
      x-open-region-cloud: "hk,hc,g42,hk_g42,sbc,hk_sbc"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: "externalAPI"
      consumes: []
      produces: []
      parameters:
      - name: "project_id"
        in: "path"
        description: "Specifies the project ID. For details about how to obtain the project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        type: "string"
        x-example: "2c31ed520xxxxxxebedb6e81xxxxxxxx"
      - name: "topic_urn"
        in: "path"
        description: "Specifies the resource identifier of the topic, which is unique. To obtain the identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        type: "string"
        x-example: "urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      - $ref: "#/parameters/X-Auth-Token"
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              request_id: "f5c05cb70d264ca58d1080202ceba284"
              count: 1
              logtanks:
              - id: "4ea80c8a68b840e19b4efd3a8f0d62ed"
                log_group_id: "d1b6c352-ee45-4196-9230-c74b7894e356"
                log_stream_id: "114960b4-1c26-48dd-93c2-4caae24aec49"
                create_time: "2022-10-10T09:00:00Z"
                update_time: "2022-10-10T09:00:00Z"
          schema:
            $ref: "#/definitions/GetLogtankListResponseBody"
        "400":
          description: "Bad Request"
          schema:
[...]
